
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');



.quicksand-font{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  /*shared styles*/
  .display-flex{
    display: flex;
  }
  .color-me1{
    color:  #FEA301;

  }
  .color-me2{
    color: #01ACFD;

  }
  .color-me3{
    color: #05D4DF;

  }
  .color-me4{
    color: #5D58EF;

  }
  .bg-1{
    background-color: #F7F7F7;
  }
    
  .colour1{
    color: #FEA301;
  }
  .colour2{
    color: #01ACFD;
  }
  .colour3{
    color: #8700FF;
  }
  .radius{
    border-radius: 8px;
  }

  .bg-2{
    background-color: #01ACFD;
    color: #FFFFFF;
  }
 .end-colour{
  color: #FFFFFF;

 }
 .margin-bottom{
  margin-bottom: 30px;
 }
 .text-style{
 
  text-decoration: none;
  list-style: none;
 }
 .display-grid{
  grid-template-columns: repeat(2, 1fr);
 }

  /*header styles*/

  .scl{
    font-weight: 700;
    font-size: 1.5rem;
  }


  /*navbar styles*/
  .navbar{
    max-width: fit-content;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
  }


  .nav-link{
    text-decoration: none;
    font-weight: 600;
  }
  
  .nav-item1{
    list-style: none;
    margin-left: 186px;
    padding: 0 30px;


  }
  .nav-item2{
    list-style: none;
    padding: 0 30px;

  }
.nav-item3{
    list-style: none;
    padding: 0 30px;

}
.nav-item4{
    list-style: none;
    margin-right: 186px;

}
.btn1{
    padding: 10px 50px;
    border-radius: 12px;
    font-size: 50;
    color: #FFFFFF;
    font-weight: 600;
    border-style: none;

    background-color: #FEA301;
}
.btn-2{
    padding: 10px 30px;
    border-radius: 12px;
    background-color: #111111;
    border-style: none;
    color: #FFFFFF;

}
.banner{
    display: flex;
    max-width: 1440px;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.content1{
    max-width: 640px;
    flex-direction: grid;
    padding-left: 186px;
    


}
.banner-title{
    font-weight: 700;
    font-size: 3.5rem;


}
.content2{
    margin-right: 140px;
}
.banner-image{
    width: 100%;
}
main{
  text-align: center;
}
.bg-img{
  background-image: url('../assets/bg.png');

}

 
.section-title{
  max-width: 1140px;
  font-size: 46px;
  font-weight: bold;
 margin: 0 auto;  

  
}
.curriculum{
  max-width: 1140px;
  margin: 0 auto;
  gap: 28px;
  display: flex;
  
}
.curriculum1{
  max-width: 367.8px;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 80px;
  background-color: rgba(222, 245, 255, 1);
  border-radius: 8px;
  padding: 20px;
 
}
.curriculum2{
  max-width: 367.8px;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 80px;
  background-color: rgba(255, 244, 220, 1);
  border-radius: 8px;
  padding: 20px;

}
.curriculum3{
  max-width: 367.8px;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 80px;
  flex-direction: column;
  background-color: rgba(242, 232, 255, 1);
  border-radius: 8px;
  padding: 20px;

}
.paragraph{
  color: #808080;
  padding: 40.88px, 286.26px;
}
.story-title{
  max-width: 1140px;
  font-size: 36px;
  font-weight: bold;
 margin: 0 auto;  

}
.story{

  max-width: 1140px;
  margin: 0 auto;
  gap: 28px;
  display: flex;
   
}
.story{

  margin-top: 80px;
  margin-bottom: 80px;
}

.story1{

}

.story-details1{
  margin-right: 10px;
  margin-bottom: 10px;
}
.ending{
  max-width: 1077px;
  margin: 0 auto;
  gap: 220px;
  display: flex;


}
.logo-img{
  padding: 20px;
}
.end-title1{
  font-size: 27px;
  font-weight: bold;
}
.end-title2{
  font-size: 17px;
  font-weight: bold;

}

.end-title3{
  font-size: 19px;
  font-weight: bold;
 }

 .last{
  padding: 20px, 30px;
 }
.end1{
  
}
.end-items{
  text-decoration: none;
  list-style: none;
  font-weight: 400;
  
  color: #FFFFFF;
}






@media screen and (max-width: 576px) {
    
    
  .navbar, .nav-links, .curriculum, .ending{
    flex-direction: column;
    

  }
  .nav-links{
    display: none;
  }
  .curriculum{
    margin: 20px;
  }
  /*.story2, .story3{
    display: flex;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: auto;
    
    padding-left: 10px;*/
  
  .story1{
    display: none;
  }
  .banner{
    flex-direction: column-reverse;
    
    max-width: 100%;
    text-align: center;
    
  
    
  }
  .banner-title, .banner-description{
   padding-right: 186px;
    text-align: center;

  }
  .banner-image{
    margin-left: 50px;
  }
  .more-stories{
    grid-template-columns: repeat(1, 1fr);
    
  }
  .ending{
    padding-left: 15px;
    padding-bottom: 50px;
      }

    }
  
    


 
  
    
         
        
    

   
     
  
 
